<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap-icons/bootstrap-icons.min.css" type="text/css" />
</head>
<body>
    <div class="container">
        @if (!string.IsNullOrEmpty(ViewBag.WebApiErrorMessage))
        {
            <div class="row mt-3">
                <div class="col">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <span>@ViewBag.WebApiErrorMessage</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="container body-content">
        @RenderBody()
        <footer>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/imask/imask.min.js"></script>
</body>
</html>