<div class="row mt-3 mb-3">
    <div class="col">
        @if (ViewBag.Success == true)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <span>Registro salvo com sucesso</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
            </div>
        }
        else if (ViewBag.Success == false)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>Erro ao processar a requisição</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
            </div>
        }
    </div>
</div>